.page{
    margin: 0;
    height: 100vh;
}

input{
    width: 23%;
    border: 0;
}

button{
    height: 30px;
    align-items: center;
}


.table{
    width: 45%;
}

.bi-record-fill{
    color: rgb(124, 223, 124);
}

svg{
    cursor: pointer;
}